<div class="overlay" [class.overlay-active]="loading" >
    <div class="overlay-text">
        <h1>Loading...</h1>
    </div>
</div>
<div style="margin: 30px;">
    <button class="btn btn-primary" (click)="promptInsert()">Add New+</button>
    <br>
    <br>
    <div class="table-responsive">
        <table  class="table table-hover table-hover fuente">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Price</th>
                    <th>Company</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of lstProducts" style="cursor: pointer;">
                    <td (click)="update(row)">{{row.Id}}</td>
                    <td (click)="update(row)">{{row.Name}}</td>
                    <td (click)="update(row)">{{row.AgeRestriction}}</td>
                    <td (click)="update(row)">${{row.Price}}</td>
                    <td (click)="update(row)">{{row.Company}}</td>
                    <td class="fitCell">
                        <button (click)="promptDelete(row)" class="btn btn-link">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<product-form (editSubmit)="edit($event)" (insertSubmit)="insert($event)"></product-form>

<div class="modal fade" id="deletePrompt" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete {{deleteProduct?.Name}}?</h5>
        </div>
        <div class="modal-body">
            Once deleted it's gone forever
        </div>
        <div class="modal-footer">
          <button type="button" (click)="dismissPrompt()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="delete()" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
</div>

 <p >{{lstProducts | json}}</p>